<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>MovCat - Человек будущего</title>
</head>
<body class="d-flex flex-column" style="min-height: 100vh;">
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Фильмы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Сериалы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Мультфильмы</a>
                        </li>
                    </ul>

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Что ищем?" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Поиск</button>
                    </form>
                </div>
            </nav>
        </div>
    </header>

    <main class="pb-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Фильмы</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Человек будущего</li>
                </ol>
            </nav>

            <div class="movie row">
                <div class="movie-poster col-md-4">
                    <img class="img-fluid" src="img/movie_poster.jpg" alt="">
                </div>
                <div class="movie-about col-md-8">
                    <h4 class="movie-name">Человек будущего</h4>
                    <h6 class="text-muted">The Tomorrow Man</h6>
                    <p class="text-muted">2019, США, Драма</p>

                    <ul class="nav nav-tabs mb-3" id="movie-about-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="movie-description-tab" data-toggle="tab" href="#movie-description" role="tab" aria-controls="movie-description" aria-selected="true">Описание фильма</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="actors-tab" data-toggle="tab" href="#actors" role="tab" aria-controls="actors" aria-selected="false">Актерский состав</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="movie-about-tab-content">
                        <div class="tab-pane fade show active" id="movie-description" role="tabpanel" aria-labelledby="home-tab">
                            <dl class="row">
                                <dt class="col-sm-4">Возраст</dt>
                                <dd class="col-sm-8">16+</dd>

                                <dt class="col-sm-4">Жанр</dt>
                                <dd class="col-sm-8"><a href="#">Драма</a>, <a href="#">Мелодрама</a></dd>

                                <dt class="col-sm-4">Режиссер</dt>
                                <dd class="col-sm-8"><a href="#">Ноубл Линкольн Джонс</a></dd>

                                <dt class="col-sm-4 text-truncate">Год выпуска</dt>
                                <dd class="col-sm-8">США</dd>

                                <dt class="col-sm-4">Продолжительность</dt>
                                <dd class="col-sm-8">01:35:18</dd>
                            </dl>

                            <h5 class="plot mt-3">Сюжет</h5>
                            <p class="plot-content">Любви все возрасты покорны. Эд переживает о будущем и готовится к концу света, а Ронни не может забыть прошлое. Но вместе они смогут вспомнить, что значит жить настоящим.</p>
                            <h5 class="ratings">Рейтинги</h5>
                            <p class="ratings-content">
                                IMDb: <a href="#" class="muted-text">5.5 (538)</a>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="actors" role="tabpanel" aria-labelledby="profile-tab">
                            <a href="#" class="clearfix">Джон Литгоу</a>
                            <a href="#" class="clearfix">Блайт Даннер</a>
                            <a href="#" class="clearfix">Дерек Сесил</a>
                            <a href="#" class="clearfix">Кэтрин Аселтон</a>
                            <a href="#" class="clearfix">Софи Тэтчер</a>
                            <a href="#" class="clearfix">Ив Харлоу</a>
                            <a href="#" class="clearfix">Уэнди Маккена</a>
                            <a href="#" class="clearfix">Isabelle Boni</a>
                            <a href="#" class="clearfix">Shawn M. Essler</a>
                            <a href="#" class="clearfix">Anthony Lafornara</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-dark text-light mt-auto">
        <div class="container">
            <div class="py-3">&copy; Movie Catalog 2019</div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>